<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
    <head>
        {{ partial "head_casestudy.html" . }}
    </head>
    <body>
        {{ partial "nav_casestudy.html" . }}
        {{ partial "casestudy_main.html" . }}
        {{ partial "testimonial.html" . }}

        <section>
            <div class="content-case-study">
                {{ .Content }}
            </div>
        </section>

        {{ if .Site.Params.case_studies.enable }}
        {{ partial "case_studies.html" . }}
        {{ end }}

        {{ if .Site.Params.footer.enable }}
        {{ partial "footer.html" . }}
        {{ end }}

        {{ partial "scripts.html" . }}
    </body>
</html>