<section data-scroll-index="2">
    <div class="case-studies">
        <div class="header">
            <h1 class="title">Case Studies</h1>
            <h2 class="subtitle">Selected Works</h2>
        </div>
        <div class="case-studies-wrapper">
            <div class="case-study-item">
                <a href="http://alexiscollado.com/cope.html"><img src="{{ .Site.BaseURL }}img/cope.jpg" alt=""></a>
                <h4>Cope iOS App</h4>
                <h5>MOBILE APP DESIGN</h5>
                <p>Cope is a mobile app that allows mental health help seekers
                    track their symptoms and medication. I helped them create a minimum
                    viable product for testing.</p>
                <a href="http://alexiscollado.com/cope.html" class="read-more">Read Me</a>
            </div>
            <div class="case-study-item">
                <a href="http://alexiscollado.com/360pro.html"><img src="{{ .Site.BaseURL }}img/360.jpg" alt=""></a>
                <h4>360 Pro Tracker</h4>
                <h5>WEB APP DESIGN</h5>
                <p>The 360 Pro Tracker is a performance tracking system for
                    the 360 Pro gym. It tracks an athlete’s statistics and calculates his or
                    her pro score.</p>
                <a href="http://alexiscollado.com/360pro.html" class="read-more">Read Me</a>
            </div>
            <div class="case-study-item">
                <a href="http://alexiscollado.com/tedx.html"><img src="{{ .Site.BaseURL }}img/tedx.jpg" alt=""></a>
                <h4>TEDxADMU Website</h4>
                <h5>WEB DESIGN</h5>
                <p>The TEDxADMU website was a project for the Ateneo Junior
                    Marketing Association. It's a project where I helped them reach a 66.8%
                    conversion rate from scratch.</p>
                <a href="http://alexiscollado.com/tedx.html" class="read-more">Read Me</a>
            </div>
        </div>
    </div>
</section>
