<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>{{ .Site.Title }}</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="theme-color" content="#574CDD">

<!-- desc -->
<meta name="description" content="Portfolio of Alexis Collado, UX Designer">
<meta property="og:description" content="Portfolio of Alexis Collado, UX Designer">
<meta name="twitter:description" content="Portfolio of Alexis Collado, UX Designer">

<!-- image -->
<meta property="og:image" content="portfolio.jpg">
<meta name="twitter:image" content="portfolio.jpg">

<link rel="icon" href="img/favicon.png" type="image/x-icon">
<link rel="shortcut icon" href="img/favicon.png" type="image/x-icon">

<link rel="stylesheet" href="css/css.css" >
<link rel="stylesheet" href="css/final.css">
<link rel="stylesheet" href="css/normalize.css">

