<nav class="main-navigation stuckMenu">
    <a href="{{ .Site.BaseURL }}">
        <img class="logo" src="{{ .Site.BaseURL }}img/logo.png" alt="{{ .Site.Title }}">
    </a>
    <div class="sub-navigation">
        <a href="#" class="main-navigation-link" id="about" data-scroll-goto="0">About</a>
        
        {{ if .Site.Params.process.enable }}
        <a href="#" class="main-navigation-link" data-scroll-goto="1">{{ .Site.Params.process.title }}</a>
        {{ end }}

        {{ if .Site.Params.case_studies.enable }}
        <a href="#" class="main-navigation-link" data-scroll-goto="2">{{ .Site.Params.case_studies.title }}</a>
        {{ end }}
        
    </div>
</nav>
