<section data-scroll-index="1">
    <div class="process">
        <div class="header">
            <h1 class="title">{{ .Site.Params.Process.Title }}</h1>
            <h2 class="subtitle">{{ .Site.Params.Process.Subtitle }}</h2>
        </div>
        <div class="process-wrapper">
            <div class="process-item">
                <figure class="item-header">
                    <svg width="34px" height="31px" viewBox="0 0 34 31" version="1.1" xmlns="http://www.w3.org/2000/svg" xlink="http://www.w3.org/1999/xlink">
                        <!-- Generator: Sketch 41.2 (35397) - http://www.bohemiancoding.com/sketch -->
                        <title>design-64px-outline_book-open</title>
                        <desc>Created with Sketch.</desc>
                        <defs></defs>
                        <g id="Portfolio" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                            <g transform="translate(-89.000000, -786.000000)" id="Group-10" stroke-width="2">
                                <g transform="translate(90.000000, 780.000000)">
                                    <g id="design-64px-outline_book-open" transform="translate(0.000000, 7.000000)">
                                        <g id="Group">
                                            <path d="M16,3.73333333 L16,18.1333333" id="Shape" stroke="#00CEDB"></path>
                                            <polyline id="Shape" stroke="#505050" points="28.8 3.2 32 3.2 32 28.8 0 28.8 0 3.2 3.2 3.2"></polyline>
                                            <path d="M16,3.73333333 C12.4,1.0224 7.64426667,0 3.2,0 L3.2,21.8666667 C7.64426667,21.8666667 12.4,22.8890667 16,25.6 C19.6,22.8890667 24.3557333,21.8666667 28.8,21.8666667 L28.8,0 C24.3557333,0 19.6,1.0224 16,3.73333333 Z" id="Shape" stroke="#505050"></path>
                                        </g>
                                    </g>
                                </g>
                            </g>
                        </g>
                    </svg>
                    <h3>Research</h3>
                </figure>
                <p>I collaborate with stakeholders, ask meaningful questions, probe user goals, motivations, to understand context.</p>
            </div>
            <div class="process-item">
                <figure class="item-header">
                    <svg width="34px" height="37px" viewBox="0 0 34 37" version="1.1" xmlns="http://www.w3.org/2000/svg" xlink="http://www.w3.org/1999/xlink">
                        <!-- Generator: Sketch 41.2 (35397) - http://www.bohemiancoding.com/sketch -->
                        <title>design-64px-outline-2_ruler-pencil</title>
                        <desc>Created with Sketch.</desc>
                        <defs></defs>
                        <g id="Portfolio" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                            <g transform="translate(-565.000000, -780.000000)" id="Group-11" stroke-width="2">
                                <g transform="translate(560.000000, 777.000000)">
                                    <g id="design-64px-outline-2_ruler-pencil" transform="translate(6.000000, 4.000000)">
                                        <g id="Group">
                                            <path d="M26.2857143,5.71428571 L26.2857143,26.2857143" id="Shape" stroke="#00CEDB"></path>
                                            <path d="M20.5714286,5.71428571 L32,5.71428571" id="Shape" stroke="#505050"></path>
                                            <path d="M20.5714286,26.2857143 L32,26.2857143" id="Shape" stroke="#505050"></path>
                                            <polygon id="Shape" stroke="#505050" points="32 26.2857143 26.2857143 33.1428571 20.5714286 26.2857143 20.5714286 0 32 0"></polygon>
                                            <path d="M0,16 L5.14285714,16" id="Shape" stroke="#00CEDB"></path>
                                            <path d="M0,20.5714286 L4,20.5714286" id="Shape" stroke="#00CEDB"></path>
                                            <path d="M0,29.7142857 L4,29.7142857" id="Shape" stroke="#00CEDB"></path>
                                            <path d="M0,6.85714286 L5.14285714,6.85714286" id="Shape" stroke="#00CEDB"></path>
                                            <path d="M0,11.4285714 L4,11.4285714" id="Shape" stroke="#00CEDB"></path>
                                            <path d="M0,25.1428571 L5.14285714,25.1428571" id="Shape" stroke="#00CEDB"></path>
                                            <rect id="Rectangle-path" stroke="#505050" x="0" y="0" width="13.7142857" height="34.2857143"></rect>
                                        </g>
                                    </g>
                                </g>
                            </g>
                        </g>
                    </svg>
                    <h3>Discovery</h3>
                </figure>
                <p>I ideate solutions by wireframing or creating mockups, facilitate design studios, and gather user feedback.</p>
            </div>
            <div class="process-item">
                <figure class="item-header">
                    <svg width="34px" height="30px" viewBox="0 0 34 30" version="1.1" xmlns="http://www.w3.org/2000/svg" xlink="http://www.w3.org/1999/xlink">
                        <!-- Generator: Sketch 41.2 (35397) - http://www.bohemiancoding.com/sketch -->
                        <title>design-64px-outline_window-paragraph</title>
                        <desc>Created with Sketch.</desc>
                        <defs></defs>
                        <g id="Portfolio" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                            <g transform="translate(-1029.000000, -783.000000)" id="Group-12" stroke-width="2">
                                <g transform="translate(1030.000000, 777.000000)">
                                    <g id="design-64px-outline_window-paragraph" transform="translate(0.000000, 7.000000)">
                                        <g id="Group">
                                            <rect id="Rectangle-path" stroke="#505050" x="4.26666667" y="13.3333333" width="8.53333333" height="8.53333333"></rect>
                                            <path d="M16.5333333,13.3333333 L27.7333333,13.3333333" id="Shape" stroke="#00CEDB"></path>
                                            <path d="M16.5333333,17.6 L27.7333333,17.6" id="Shape" stroke="#00CEDB"></path>
                                            <path d="M16.5333333,21.8666667 L22.9333333,21.8666667" id="Shape" stroke="#00CEDB"></path>
                                            <path d="M4.26666667,3.73333333 L6.4,3.73333333" id="Shape" stroke="#00CEDB"></path>
                                            <path d="M9.6,3.73333333 L11.7333333,3.73333333" id="Shape" stroke="#00CEDB"></path>
                                            <path d="M21.8666667,3.73333333 L27.7333333,3.73333333" id="Shape" stroke="#00CEDB"></path>
                                            <path d="M0,7.46666667 L32,7.46666667" id="Shape" stroke="#00CEDB"></path>
                                            <rect id="Rectangle-path" stroke="#505050" x="0" y="0" width="32" height="27.7333333"></rect>
                                        </g>
                                    </g>
                                </g>
                            </g>
                        </g>
                    </svg>
                    <h3>Design</h3>
                </figure>
                <p>I design delightful, purposeful interactions and interfaces that help the user accomplish his or her tasks.</p>
            </div>
            <div class="process-item">
                <figure class="item-header">
                    <svg width="36px" height="27px" viewBox="0 0 36 27" version="1.1" xmlns="http://www.w3.org/2000/svg" xlink="http://www.w3.org/1999/xlink">
                        <!-- Generator: Sketch 41.2 (35397) - http://www.bohemiancoding.com/sketch -->
                        <title>design-64px-outline_code</title>
                        <desc>Created with Sketch.</desc>
                        <defs></defs>
                        <g id="Portfolio" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                            <g transform="translate(-88.000000, -964.000000)" id="Group-18" stroke-width="2">
                                <g transform="translate(90.000000, 957.000000)">
                                    <g id="Group-13">
                                        <g id="design-64px-outline_code" transform="translate(0.000000, 8.000000)">
                                            <g id="Group">
                                                <polyline id="Shape" stroke="#505050" points="6.85714286 5.71428571 0 12.5714286 6.85714286 19.4285714"></polyline>
                                                <polyline id="Shape" stroke="#505050" points="25.1428571 5.71428571 32 12.5714286 25.1428571 19.4285714"></polyline>
                                                <path d="M11.4285714,25.1428571 L20.5714286,0" id="Shape" stroke="#00CEDB"></path>
                                            </g>
                                        </g>
                                    </g>
                                </g>
                            </g>
                        </g>
                    </svg>
                    <h3>Development</h3>
                </figure>
                <p>I prototype the final design either in code (HTML, CSS, JS), Invision, Framer Studio or other tools depending on the job.</p>
            </div>
            <div class="process-item">
                <figure class="item-header">
                    <svg width="35px" height="35px" viewBox="0 0 35 35" version="1.1" xmlns="http://www.w3.org/2000/svg" xlink="http://www.w3.org/1999/xlink">
                        <!-- Generator: Sketch 41.2 (35397) - http://www.bohemiancoding.com/sketch -->
                        <title>design-64px-outline_wand-99</title>
                        <desc>Created with Sketch.</desc>
                        <defs></defs>
                        <g id="Portfolio" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                            <g transform="translate(-558.000000, -961.000000)" id="Group-17">
                                <g transform="translate(560.000000, 957.000000)">
                                    <g id="Group-14">
                                        <g id="design-64px-outline_wand-99" transform="translate(0.000000, 5.000000)">
                                            <g id="Group">
                                                <path d="M32,6.50847458 C30.4379661,4.94644068 27.0535593,4.94644068 25.4915254,6.50847458 C27.0535593,4.94644068 27.0535593,1.5620339 25.4915254,0 C27.0535593,1.5620339 30.4379661,1.5620339 32,0 C30.4379661,1.5620339 30.4379661,4.94644068 32,6.50847458 Z" id="Shape" stroke="#00CEDB" stroke-width="2"></path>
                                                <path d="M30.9152542,22.779661 C29.8738983,21.7383051 27.6176271,21.7383051 26.5762712,22.779661 C27.6176271,21.7383051 27.6176271,19.4820339 26.5762712,18.440678 C27.6176271,19.4820339 29.8738983,19.4820339 30.9152542,18.440678 C29.8738983,19.4820339 29.8738983,21.7383051 30.9152542,22.779661 Z" id="Shape" stroke="#00CEDB" stroke-width="2"></path>
                                                <path d="M13.559322,5.42372881 C12.5179661,4.38237288 10.2616949,4.38237288 9.22033898,5.42372881 C10.2616949,4.38237288 10.2616949,2.12610169 9.22033898,1.08474576 C10.2616949,2.12610169 12.5179661,2.12610169 13.559322,1.08474576 C12.5179661,2.12610169 12.5179661,4.38237288 13.559322,5.42372881 Z" id="Shape" stroke="#00CEDB" stroke-width="2"></path>
                                                <path d="M15.1864407,11.9322034 L20.0677966,16.8135593" id="Shape" stroke="#505050" stroke-width="2"></path>
                                                <rect id="Rectangle-path" stroke="#505050" stroke-width="1.99998082" transform="translate(11.931795, 20.067934) rotate(-45.000000) translate(-11.931795, -20.067934) " x="-1.49099184" y="16.6163062" width="26.8455731" height="6.90325583"></rect>
                                            </g>
                                        </g>
                                    </g>
                                </g>
                            </g>
                        </g>
                    </svg>
                    <h3>Iteration</h3>
                </figure>
                <p>I perform research through series of usability tests and A/B testing, evaluate design with analytics, and iterate.</p>
            </div>
            <div class="process-item">
                <figure class="item-header">
                    <svg width="34px" height="34px" viewBox="0 0 34 34" version="1.1" xmlns="http://www.w3.org/2000/svg" xlink="http://www.w3.org/1999/xlink">
                        <!-- Generator: Sketch 41.2 (35397) - http://www.bohemiancoding.com/sketch -->
                        <title>arrows-64px-outline-1_refresh-69</title>
                        <desc>Created with Sketch.</desc>
                        <defs></defs>
                        <g id="Portfolio" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                            <g transform="translate(-1029.000000, -963.000000)" id="Group-16" stroke-width="2">
                                <g transform="translate(1030.000000, 957.000000)">
                                    <g id="Group-15">
                                        <g id="arrows-64px-outline-1_refresh-69" transform="translate(0.000000, 7.000000)">
                                            <g id="Group">
                                                <path d="M0,16 C0,7.16342857 7.16342857,0 16,0 C22.4485714,0 28.0737143,3.984 30.6062857,9.48" id="Shape" stroke="#505050"></path>
                                                <polyline id="Shape" stroke="#505050" points="31.8765714 0 30.6062857 9.48 21.1268571 8.20971429"></polyline>
                                                <path d="M32,16 C32,24.8365714 24.8365714,32 16,32 C9.55142857,32 3.92628571,28.016 1.39371429,22.52" id="Shape" stroke="#00CEDB"></path>
                                                <polyline id="Shape" stroke="#00CEDB" points="0.123428571 32 1.39371429 22.52 10.8731429 23.7902857"></polyline>
                                            </g>
                                        </g>
                                    </g>
                                </g>
                            </g>
                        </g>
                    </svg>
                    <h3>Repeat</h3>
                </figure>
                <p>I redo the entire process and use new insights to further bolster the product’s user experience.</p>
            </div>
        </div>
    </div>
</section>