{{ template "_internal/google_analytics.html" . }}
<script src="{{ .Site.BaseURL }}js/jquery-1.js"></script>
<script src="{{ .Site.BaseURL }}js/stickUp.js"></script>
<script src="{{ .Site.BaseURL }}js/scrollIt.js" type="text/javascript"></script>
<script type="text/javascript">
    jQuery(function($) {
        $(document).ready( function() {
            $('.main-navigation').stickUp({

            });
        });
    });
    $(function(){
        $.scrollIt({
            topOffset: -70,         // offste (in px) for fixed top navigation
            easing: 'ease-in-out'
        });
    });
</script>